<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

    <targets>
        <target xsi:type="File" name="allfile" fileName="${basedir}/app-logs.txt" keepFileOpen="true"
                layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="allfile" />
    </rules>
</nlog>