<div class="page-container">
  <div class="articles-container">
    <div class="article-left">
      <div class="articles-title">Do You Know Who is John Rembo?</div>
      <div>Donec urna sapien, porta nec condimentum id, elementum in quam. Curabitur a aliquet turpis, sagittis eleifend sem. Nam quis est eget neque euismod fringilla et sit amet mauris. Proin commodo sodales arcu, a volutpat augue facilisis et. Nam pellentesque finibus felis eget feugiat. Nulla convallis a nisl non vehicula. Aliquam erat volutpat. Vivamus id massa a lacus tincidunt tempor at eu ex. </div>
      <ul style="margin-bottom: 32px;">
        <li>Proin commodo sodales arcu, a volutpat augue facilisis et. Nam pellentesque finibus felis eget feugiat. Nulla convallis a nisl non vehicula. Aliquam erat volutpat.</li>
        <li>Nam pellentesque finibus felis eget feugiat. Nulla convallis a nisl non vehicula. Aliquam erat volutpat.</li>
        <li>Proin commodo sodales arcu, a volutpat. Nulla convallis a nisl non vehicula. Aliquam erat volutpat. Praesent nec tincidunt purus. Donec vel erat porta.</li>
      </ul>
      <button mat-flat-button class="btn-orange">Learn More</button>
    </div>
    <div class="article-right">
      <div class="articles-title">We Knocked Em’ll</div>
      <div class="article-image-wrapper">
        <img src="assets/img/article-img.png" alt="article image">
        <a href="" class="article-image-overlay">
          <div  class="overlay-text-wrapper">
            <div class="overlay-text">Sony<br>Playstation VR</div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <gamestore-social></gamestore-social>
</div>
