.checkboxes-input-wrapper {
    padding-top: 5px;
    padding-bottom: 5px;

    .checkbox-container {
        margin-bottom: 7px;

        span {
            padding-left: 10px;
            top: 2px;
            position: relative;
        }
    }

}