dl{
    dt{
        font-size: 15px;
        font-weight: 500;
        margin-top: 5px;
        margin-bottom: 3px;
    }
    
    dd {
        padding-left: 15px;
        margin-bottom: 5px;
        box-sizing: border-box;
    }
}