/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    line-height: 24px !important;
}

a {
    color: #FF7E2A;
    font-size: 14px;
}

hr {
    width: 100%;
    margin-block-start: 10px;
    margin-block-end: 0px;
    border: none;
    height: 1px;
    background-color: #9A9A9A;

    &.hr-soft {
        background-color: #DCDCDC;
    }
}

p {
    margin: 0 0 8px !important;
}

ul {
    padding-inline-start: 15px;
    margin: 0 0 8px;

    li::marker {
        color: #FF7E2A;
        font-size: 1.5em;
    }
}

.separated {
    &::after {
        content: "";
        display: inline-block;
        width: 1px;
        height: 1.3em;
        margin: 0 10px;
        vertical-align: middle;
        background-color: #D8D8D8;
    }

    &:last-child::after {
        display: none;
    }
}

.btn-orange {
    border-radius: 0px !important;
    padding: 13px 30px !important;
    background-color: #FF7E2A;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px !important;

    .mat-button-wrapper {
        line-height: 16px !important;
        padding: 0;
    }
}

.mat-button.btn-underline {
    padding: 0 5px;
    min-width: 0;
    color: #FF7E2A;
    text-decoration: underline;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-input {
    font-size: 14px;
    background-color: inherit;
    border: #7F7F7F solid 1px;
    padding: 10px 15px;
}

.form-input:focus {
    outline: none;
}

.form-input-label {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 5px;
}

.form-textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 200px;
}

.link-hoverable {
    transition: color .2s ease;
}
.link-hoverable:hover {
    color: #FF7E2A !important;
}

// Angular material customizations

.mat-expansion-panel-content .mat-expansion-panel-body {
    padding: 0 15px 15px !important;
}

.mat-expansion-panel-header {
    padding: 0 15px !important;
}

.mat-form-field {
    width: 100%;

    .mat-form-field-subscript-wrapper {
        display: none;
    }


    .mat-form-field-wrapper {
        margin: 0 !important;
        padding: 0 !important;

        .mat-form-field-infix {
            width: auto;
        }

        .mat-form-field-underline {
            display: none;
        }

        .mat-form-field-outline-start,
        .mat-form-field-outline-end {
            border-radius: 0 !important;
        }
    }
}

.mat-raised-button, .mat-stroked-button, .mat-flat-button {
    border-radius: 0 !important;
}

a.mat-button-base {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.mat-chip.mat-standard-chip {
    color: #3E4554;
    border: 1px solid #FF7E2A;
    background-color: transparent;
    transition: color .2s ease-in-out;
    transition: background-color .2s ease-in-out;

    &::after {
        background: transparent !important;
    }

    &:hover {
        cursor: pointer;
        color: white;
        background-color: #FF7E2A;
    }
}

.language-selector-wrapper {
    .mat-form-field-wrapper {
        transition: background-color .2s ease;
        background-color: rgba($color: #000000, $alpha: .2);

        &:hover {
            background-color: rgba($color: #000000, $alpha: .4);
        }
    }

    .mat-form-field-outline, .mat-form-field-outline-thick {
        color: transparent !important;
    }

    .mat-select-arrow {
        color: white !important;
    }

    .mat-select-value {
        color: white !important;
        font-size: 16px;
        font-family: 'Montserrat';
        font-weight: 700;

        &::before {
            content: "🌐 ";
        }
    }

    .mat-select-arrow-wrapper {
        transform: none !important;
    }
}

.dialog-no-padding .mat-dialog-container {
    padding: 0;
}