<div *ngIf="!!comments" class="comments-container">
  <div class="comments-header">
    <div class="comments-stats">
      <div style="margin-bottom: 5px;">{{commentsCount}} {{ labels.commentsLabel }}</div>
      <app-star-rating [rating]="4" [showRatingNumber]="true"></app-star-rating>
    </div>
    <button mat-flat-button class="btn-orange" (click)="onCreateComment()">{{ labels.writeCommentButtonLabel }}</button>
  </div>

  <div class="comments-content">
    <ng-container *ngIf="!!comments.length; else noComments">
      <gamestore-comment
        *ngFor="let comment of comments"
        [comment]="comment"
        (select)="onSelect($event)"
        (deleteComment)="onDeleteComment($event)"
        (banComment)="onBanComment($event)"
      ></gamestore-comment>
    </ng-container>
  </div>

  <ng-template #noComments>{{labels.noCommentsMessage}}</ng-template>
